@define-color accent #9AAF93;
@define-color fg #ffffff;
@define-color bg #000000;

* {
  font-family: FontAwesome, "JetBrainsMonoNLNerdFont", "JetBrains Mono";
  font-size: 13px;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    border-radius: 0px;
    padding: 0 5px;
    color: @fg;
}

#workspaces button:hover {
    padding: 0 5px;
    background: none;
    border-color: transparent;
    transition: none;
}

#workspaces button.focused {
    background-color: @accent;
    color: @bg;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #FF644A;
  padding: 0 5;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#language,
#tray,
#mode,
#idle_inhibitor,
#bluetooth,
#mpd {
  margin: 0px 10px;
  color: @bg;
}

#backlight, 
#pulseaudio,
#language,
#network,
#battery,
#bluetooth,
#cpu,
#memory,
#tray,
#clock {
  background-color: @bg;
  color: @fg;
}

#tray {
    padding-right: 5px;
    padding-left: 10px
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
